
.frontend {
    margin-top: 50px;
    margin-left: 10px;
    width: 95%;
    text-align: flex-start;
    color: white;

    .title {
        font-weight: bold;
        border: 2px solid #fff;
        border-radius: 6px;
        padding: 15px;
    }
}