.resume-cv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin-top: 30px;
    width: 90%;

    p {
        width: 100%;
        text-align: flex-start;
        color: white;
    }

    .resume-cv-box {
        max-width: 100% !important;
        border: 2px solid;
        border-radius: 6px;
    }
}

.resume-cv-list-item {
    border: 2px solid #000;
    border-radius: 6px;
}

.icon-style {
    vertical-align: middle;
    margin-right: 8px; 
}
