.resume-cv{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    padding: 90px;

    h1 {
        width: 100%;
        text-align: center;
        color: #e6db74;
    }
}

.resume-me-accordion {
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
    justify-content: center;
    padding: 90px;
    gap:10px;

    .summary .MuiAccordionSummary-content {
        align-items: center;
    }

    .resume-me-accordion-title {
        width: 100%;
        text-align: center;
        color: #e6db74; 
    }

    p {
        margin-top: 7px;
        margin-bottom: 7px;
    }
}

.icon-style {
    vertical-align: middle;
    margin-right: 8px; 
}

.resume-me-text{
    display: flex;
    flex-direction: column;
    text-align: justify;
}
