.resume-cv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin-top: 30px;
    width: 90%;

    p {
        width: 100%;
        text-align: flex-start;
        color: white;
    }
}

.icon-style {
    vertical-align: middle;
    margin-right: 8px; 
}

.resume-me-text{
    display: flex;
    flex-direction: column;
    text-align: justify;
}
