.hobbies{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: flex-start;
    justify-content: center;
    text-align: justify;
    max-width: 100%;
    padding: 40px;

    h1 {
        width: 100%;
        text-align: center;
        color: #e6db74;
    }
}

.icon-style {
    vertical-align: middle;
    margin-right: 8px; 
}