.hobbies{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    padding: 90px;

    h1 {
        width: 100%;
        text-align: center;
        color: #e6db74;
    }
}