.top-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: calc(10px + 2vmin);
    
    .top-bar-button{
        display: block;
        color: #0f1924;
        font-weight: bold;
    }
}