.rcw-title {
    color: #0f1924;
}

.rcw-conversation-container .rcw-header {
    background-color: #9BCECA !important;

    span {
        color: #0f1924;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.rcw-response .rcw-message-text {
    background-color: #bfc4cd;
}

.rcw-client > .rcw-message-text {
    background-color: #357B8D !important;
    color: white !important;
}

.rcw-launcher{
    background-color: #9BCECA !important;
}
